html, body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

#main-canvas {
    margin: 0;
    padding: 0;
    position: fixed;
}

#shape-editor-canvas {
    border: 1px solid red;
}

