.settings-coords-flag {
    z-index: 110;
    border-radius: 50%;
    position: fixed;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 5px black;
}

.settings-coords-flag .dot {
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
    pointer-events: none;
}
